﻿
@{
    ViewBag.Title = "Back Cover";
}

<div class="container body-content" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-6 cover-image" style="padding:0px;">
            <img src="~/Images/back-red.jpg" class="img-responsive main-image" />
        </div>
        <div class="col-md-6" style="height:811px;">
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-md-12">
                    <h2>Back Cover</h2>
                    <h3>Colour</h3>
                    <div class="selection-color">
                        <div data-color="orange" class="color color-orange"></div>
                        <div data-color="red" class="color color-red color-selected"></div>
                        <div data-color="blue" class="color color-blue"></div>
                        <div data-color="pink" class="color color-pink"></div>
                    </div>
                    <h3>Logo</h3>
                    <input type="file" name="pic" accept="image/*">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="/Builder/CriteriaHockey" class="btn-editor"><i class="glyphicon-arrow-left glyphicon"></i> Previous</a></div>
                <div class="col-md-6"><a href="/Builder/Preview" class="btn-editor">Next <i class="glyphicon-arrow-right glyphicon"></i></a></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
            $(document).ready(function () {
                addNavSelect('back');
            });

          

            $('.color').hover(function () {
                console.log('efwef');
                var data = $(this).data("color");
                var current = $('.color-selected').data('color');
                var image = $('.image-selected').data('image');

                $('.main-image').attr('src', ('/Images/back-' + data + '.jpg'));

                $(this).click(function () {
                    current = data;
                    $('.color-selected').removeClass('color-selected');
                    $(this).addClass('color-selected');
                });



                $('.color').mouseout(function () {
                    $('.main-image').attr('src', ('/Images/back-' + current + '.jpg'));
                });

            });

            function selectImage(image) {
                var color = $('.color-selected').data('color');
                var imageOld = $('.image-selected').data('image');
                $('.image-selected').removeClass('image-selected');
                $('.image-' + image).addClass('image-selected');
                $('.cover-image').removeClass('cover-image-' + color + '-' + imageOld);
                $('.cover-image').addClass('cover-image-' + color + '-' + image);
            }
    </script>
}
