﻿
@{
    ViewBag.Title = "Criteria";
}
<div class="navbar-collapse collapse" style="width:100%;">
    <ul class="nav navbar-nav" style="display:block;margin:0 auto; margin-top:20px;">
        <li><a href="/Builder/CriteriaCover">Cover</a></li>
        <li><a href="/Builder/CriteriaFootball">Football</a></li>
        <li><a href="/Builder/CriteriaTennis">Tennis</a></li>
        <li><a href="/Builder/CriteriaBasketball">Basketball</a></li>
        <li><a href="/Builder/CriteriaGymnastics">Gymnastics</a></li>
        <li><a href="/Builder/CriteriaRugby" class="selected">Rugby</a></li>
        <li><a href="/Builder/CriteriaHockey">Hockey</a></li>
    </ul>
</div>
<div class="row" style="margin-top:50px;">
    <div class="col-md-3">
        <div class="row">
            <div class="inside-left-float">
                <a class="football-left inside-left-1"></a><br />
                <a class="football-left inside-left-2"></a><br />
                <a class="football-left inside-left-3"></a><br />
            </div>
        </div>
        <div class="row">

            <div class="col-md-6" style="float:right;"><a href="/Builder/CriteriaGymnastics" class="btn-editor" style="display:block;margin:0 auto;text-align:center;margin-top:50px;"><i class="glyphicon-arrow-left glyphicon"></i> Previous</a></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6" style="border-right:1px solid #333;padding:0;">
                <img src="~/Images/rugby-left.jpg" style="width:100%;" />
            </div>
            <div class="col-md-6" style="border-left:1px solid #333;padding:0;">
                <img src="~/Images/rugby-right.jpg" style="width:100%;" />
            </div>
        </div>
        <div class="col-md-6 edit-button-container">
            <a href="#">Edit</a>

        </div>
        <div class="col-md-6 edit-button-container">
            <a href="#">Edit</a>
        </div>

    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="inside-right-float">
                <a class="football-right inside-right-1"></a><br />
                <a class="football-right inside-right-2"></a><br />
                <a class="football-right inside-right-3"></a><br />
            </div>
        </div>
        <div class="row">

            <div class="col-md-6"><a href="/Builder/CriteriaHockey" class="btn-editor" style="display:block;margin:0 auto;text-align:center;margin-top:50px;">Next <i class="glyphicon-arrow-right glyphicon"></i></a></div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
            $(document).ready(function () {
                addNavSelect('criteria');
                yearInput();
            });

            function yearInput() {
                var years = $('.yearNo').val();
                $('.yearsInput input').addClass('hidden');
                for (x = 1; x <= years; x++) {

                    $('.inputYear-' + x).removeClass('hidden');

                }
            }

            function selectColor(color) {
                var image = $('.image-selected').data('image');
                var colorOld = $('.color-selected').data('color');
                $('.color-selected').removeClass('color-selected');
                $('.color-' + color).addClass('color-selected');
                $('.cover-image').removeClass('cover-image-' + colorOld + '-' + image);
                $('.cover-image').addClass('cover-image-' + color + '-' + image);
            }
            function selectImage(image) {
                var color = $('.color-selected').data('color');
                var imageOld = $('.image-selected').data('image');
                $('.image-selected').removeClass('image-selected');
                $('.image-' + image).addClass('image-selected');
                $('.cover-image').removeClass('cover-image-' + color + '-' + imageOld);
                $('.cover-image').addClass('cover-image-' + color + '-' + image);
            }
    </script>
}
