﻿
@{
    ViewBag.Title = "Criteria";
}
<div class="navbar-collapse collapse" style="width:100%;">
    <ul class="nav navbar-nav" style="display:block;margin:0 auto; margin-top:20px;">
        <li><a href="/Builder/CriteriaCover" class="selected">Cover</a></li>
        <li><a href="/Builder/CriteriaFootball">Football</a></li>
        <li><a href="/Builder/CriteriaTennis">Tennis</a></li>
        <li><a href="/Builder/CriteriaBasketball">Basketball</a></li>
        <li><a href="/Builder/CriteriaGymnastics">Gymnastics</a></li>
        <li><a href="/Builder/CriteriaRugby">Rugby</a></li>
        <li><a href="/Builder/CriteriaHockey">Hockey</a></li>
    </ul>
</div>
<div class="container body-content" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-6 cover-image" style="padding:0px;">
            <img src="~/Images/criteria-cover-pink.jpg" class="img-responsive main-image" />
        </div>
        <div class="col-md-6" style="height:811px;">
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-md-12">
                    <h2>Criteria Cover</h2>
                    <h3>Colour</h3>
                    <div class="selection-color">
                        <div data-color="orange" class="color color-orange"></div>
                        <div data-color="red" class="color color-red"></div>
                        <div data-color="blue" class="color color-blue"></div>
                        <div data-color="pink" class="color color-pink color-selected"></div>
                    </div>
                    <h3>Image</h3>
                    <div class="selection-color">
                        <div onclick="selectImage('basketball');" data-image="basketball" class="image-basketball"></div>
                        <div onclick="selectImage('runner');" data-image="runner" class="image-runner"></div>
                        <div onclick="selectImage('tennis');" data-image="tennis" class="image-tennis"></div>
                        <div onclick="selectImage('rythmic');" data-image="rythmic" class="image-rythmic image-selected"></div>
                    </div>
                    @*<h3>Select Sports</h3>
                    Number of Sports: <select onchange="SportInput();" class="SportNo">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    <br />
                    <div class="SportsInput">
                        <input placeholder="Sport 1" type="text" class="hidden inputSport-1" />
                        <input placeholder="Sport 2" type="text" class="hidden inputSport-2" />
                        <input placeholder="Sport 3" type="text" class="hidden inputSport-3" />
                        <input placeholder="Sport 4" type="text" class="hidden inputSport-4" />
                        <input placeholder="Sport 5" type="text" class="hidden inputSport-5" />
                        <input placeholder="Sport 6" type="text" class="hidden inputSport-6" />
                        <input placeholder="Sport 7" type="text" class="hidden inputSport-7" />
                        <input placeholder="Sport 8" type="text" class="hidden inputSport-8" />
                        <input placeholder="Sport 9" type="text" class="hidden inputSport-9" />
                        <input placeholder="Sport 10" type="text" class="hidden inputSport-10" />
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="/Builder/Year9Assessment" class="btn-editor"><i class="glyphicon-arrow-left glyphicon"></i> Previous</a></div>
                <div class="col-md-6"><a href="/Builder/CriteriaFootball" class="btn-editor">Next <i class="glyphicon-arrow-right glyphicon"></i></a></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
            $(document).ready(function () {
                addNavSelect('criteria');
                SportInput();
            });

            function SportInput() {
                var Sports = $('.SportNo').val();
                $('.SportsInput input').addClass('hidden');
                for (x = 1; x <= Sports; x++) {

                    $('.inputSport-' + x).removeClass('hidden');

                }
            }

            $('.color').hover(function () {
       
                var data = $(this).data("color");
                var current = $('.color-selected').data('color');
                var image = $('.image-selected').data('image');


                $('.main-image').attr('src', ('/Images/criteria-cover-' + data + '.jpg'));

                $(this).click(function () {
                    $('.color-selected').removeClass('color-selected');
                    $(this).addClass('color-selected');
                    current = data;
                });



                $('.color').mouseout(function () {
                    $('.main-image').attr('src', ('/Images/criteria-cover-' + current + '.jpg'));
                });

            });

            function selectImage(image) {
                var color = $('.color-selected').data('color');
                var imageOld = $('.image-selected').data('image');
                $('.image-selected').removeClass('image-selected');
                $('.image-' + image).addClass('image-selected');
                $('.cover-image').removeClass('cover-image-' + color + '-' + imageOld);
                $('.cover-image').addClass('cover-image-' + color + '-' + image);
            }
    </script>
}
