﻿
@{
    ViewBag.Title = "Finish";
}
<div class="container">
    <h2 style="text-align:center;margin:40px">Finish</h2>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><div class="btn btn-primary" style="width:100%;"><a href="/Builder/Index" style="color:#fff;"> Checkout</a></div></div>
        <div class="col-md-3"></div>
    </div>
   
</div>

@section Scripts{
    <script>
            $(document).ready(function () {
                addNavSelect('finish');
            });
    </script>
}