﻿
@{
    ViewBag.Title = "FrontCover";
}

<div class="container body-content" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-6 cover-image" style="padding:0px;">
            <img src="~/Images/cover-orange-2.jpg" class="img-responsive main-image front-image" />
            <img src="~/Images/back-orange.jpg" class="img-responsive main-image back-image hidden" />
        </div>
        <div class="col-md-6" style="height:811px;">
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-md-12">
                    <h2>Front Cover</h2>
                    <h3>Colour</h3>
                    <div class="selection-color">
                        <div onclick="selectColor('orange');" data-color="orange" class="color-orange color-selected color"></div>
                        <div onclick="selectColor('red');" data-color="red" class="color-red color"></div>
                        <div onclick="selectColor('blue');" data-color="blue" class="color-blue color"></div>
                    </div>
                    <h3>Image</h3>
                    <div class="selection-color">
                        <div onclick="selectImage('2');" data-image="2" class="image image-2 image-selected"></div>
                        <div onclick="selectImage('1');" data-image="1" class="image image-1"></div>
                        <div onclick="selectImage('3');" data-image="3" class="image image-3"></div>
                    </div>
                    <h3>Logo</h3>
                    <input type="file" name="pic" accept="image/*">
                    @*<h3>Select Academic Years</h3>
                    Number of years: <select onchange="yearInput();" class="yearNo">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    <br />
                    <div class="yearsInput">
                        <input placeholder="Year 1" type="text" class="hidden inputYear-1" />
                        <input placeholder="Year 2" type="text" class="hidden inputYear-2" />
                        <input placeholder="Year 3" type="text" class="hidden inputYear-3" />
                        <input placeholder="Year 4" type="text" class="hidden inputYear-4" />
                        <input placeholder="Year 5" type="text" class="hidden inputYear-5" />
                        <input placeholder="Year 6" type="text" class="hidden inputYear-6" />
                        <input placeholder="Year 7" type="text" class="hidden inputYear-7" />
                        <input placeholder="Year 8" type="text" class="hidden inputYear-8" />
                        <input placeholder="Year 9" type="text" class="hidden inputYear-9" />
                        <input placeholder="Year 10" type="text" class="hidden inputYear-10" />
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div data-active="front" class="col-md-6 switch-views" style="margin-bottom:40px;"><a href="#" class="btn-editor">View Back Cover</a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="/Builder/Index" class="btn-editor"><i class="glyphicon-arrow-left glyphicon"></i> Previous</a></div>
                <div class="col-md-6"><a href="/Builder/Inside" class="btn-editor">Next <i class="glyphicon-arrow-right glyphicon"></i></a></div>
            </div>
        </div>
    </div>
</div>
    @section Scripts{
        <script>
            $(document).ready(function () {
                addNavSelect('front');
                
                
                $('.switch-views').click(function () {
                    var active = $(this).data('active');

                    if(active == 'front'){
                        $('.front-image').addClass('hidden');
                        $('.back-image').removeClass('hidden');
                        $(this).data('active', 'back');
                        $(this).find('a').text('View Front Cover');
                    }
                    else if (active == 'back') {
                        $('.back-image').addClass('hidden');
                        $('.front-image').removeClass('hidden');
                        $(this).data('active', 'front');
                        $(this).find('a').text('View Back Cover');
                    }
                });
                
            });

            $('.color').hover(function () {

                var data = $(this).data("color");
                var current = $('.color-selected').data('color');
                var image = $('.image-selected').data('image');
                $('.back-image').attr('src', ('/Images/back-' + data + '.jpg'));
                $('.front-image').attr('src', ('/Images/cover-' + data + '-' + image + '.jpg'));

                $(this).click(function () {
                    current = data;
                });



                $('.color').mouseout(function () {
                    $('.front-image').attr('src', ('/Images/cover-' + current + '-' + image + '.jpg'));
                    $('.back-image').attr('src', ('/Images/back-' + current + '.jpg'));
                });

            });

            $('.image').hover(function () {

                var data = $(this).data("image");
                var image = $('.image-selected').data('image');
                var current = $('.color-selected').data('color');

                $('.front-image').attr('src', ('/Images/cover-' + current + '-' + data + '.jpg'));

                $(this).click(function () {
                    image = data;
                });



                $('.image').mouseout(function () {
                 
                    $('.front-image').attr('src', ('/Images/cover-' + current + '-' + image + '.jpg'));
                });

            });

            //function yearInput() {
            //    var years = $('.yearNo').val();
            //    $('.yearsInput input').addClass('hidden');
            //    for (x = 1; x <= years; x++) {

            //        $('.inputYear-' + x).removeClass('hidden');

            //    }
            //}

            function selectColor(color) {
                var image = $('.image-selected').data('image');
                var colorOld = $('.color-selected').data('color');
                $('.color-selected').removeClass('color-selected');
                $('.color-' + color).addClass('color-selected');
                $('.front-image').attr('src', ('/Images/cover-' + color + '-' + image + '.jpg'));
                $('.back-image').attr('src', ('/Images/back-' + color + '.jpg'));

            }
            function selectImage(image) {
                var color = $('.color-selected').data('color');
                var imageOld = $('.image-selected').data('image');
                $('.image-selected').removeClass('image-selected');
                $('.image-' + image).addClass('image-selected');
                $('.front-image').attr('src', ('/Images/cover-' + color + '-' + image + '.jpg'));
            }
        </script>
    }
