﻿
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Select Your Book</h2>
    <div class="page-error hidden" style="color:red;"><strong>Please select a book</strong></div>
    <div class="template-select row">
        <div class="template-item col-md-2" data-number="1">
            <h4>PE Diary</h4>
            <img src="~/Images/pe-progress.jpg" />
        </div>
        <div class="template-item col-md-2" data-number="2">
            <h4>PE Diary</h4>
            <img src="~/Images/pe-progress.jpg" />
        </div>
    </div>
    <div class="row">
        
        <a href="/Builder/FrontCover" style="float:right; margin-top:10px;" class="btn-editor next-check hidden">Next <i class="glyphicon-arrow-right glyphicon"></i></a>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            addNavSelect('index');
        });

        $('.template-item').click(function () {
       
            $('.selected-item').removeClass('selected-item');
            $(this).addClass('selected-item');
            $('.next-check').removeClass('hidden');
            
        });

        //$('.next-check').click(function () {
        //    if($('.selected-item').data("number") == null){
        //        event.preventDefault();
        //        $('.page-error').removeClass('hidden');
        //    }
        //});
    </script>
    }