﻿
@{
    ViewBag.Title = "Inside";
}


<div class="row" style="margin-top:50px;">
    <div class="col-md-3">
        <div class="row">
            <div class="inside-left-float">
                <a class="inside-left inside-left-1" data-imageurl="/Images/inside-left.jpg"></a><br />
                <a class="inside-left inside-left-2" data-imageurl="/Images/year-intro-left.jpg"></a><br />
                <a class="inside-left inside-left-3" data-imageurl="/Images/inside-left.jpg"></a><br />
            </div>
        </div>
        <div class="row">

            <div class="col-md-6" style="float:right;"><a href="/Builder/FrontCover" class="btn-editor" style="display:block;margin:0 auto;text-align:center;margin-top:50px;"><i class="glyphicon-arrow-left glyphicon"></i> Previous</a></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6" style="border-right:1px solid #333;padding:0;">
                <img src="~/Images/inside-left.jpg" style="width:100%;" class="image-left" />
            </div>
            <div class="col-md-6" style="border-left:1px solid #333;padding:0;">
                <img src="~/Images/inside-right.jpg" style="width:100%;" />
            </div>
        </div>
        
            <div class="col-md-6 edit-button-container">
                <a href="#">Edit</a>

            </div>
            <div class="col-md-6 edit-button-container-active">
                <a href="http://designer.uyr.co.uk/pdf_admin/personalization/app/s4jjvpat6xdlw1s0ahfzuxax0tjyai6w" target="_blank">Edit</a>
            </div>
        
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="inside-right-float">
                <a class="inside-right inside-right-1"></a><br />
                <a class="inside-right inside-right-2"></a><br />
                <a class="inside-right inside-right-3"></a><br />
            </div>
        </div>
        <div class="row">
                
                <div class="col-md-6"><a href="/Builder/First" class="btn-editor" style="display:block;margin:0 auto;text-align:center;margin-top:50px;">Next <i class="glyphicon-arrow-right glyphicon"></i></a></div>
        </div>
        </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            addNavSelect('inside');
        });

        $('.inside-left').hover(function () {
            
            var data = $(this).data("imageurl");
            var current = $('.image-left').attr('src');
           
            $('.image-left').attr('src', data);

            $(this).click(function () {
                current = data;
            });
            
        
                
            $('.inside-left').mouseout(function () {
                $('.image-left').attr('src', current);
            });
        
        });



        $('.inside-right').hover(function () {
            $(this).addClass('hovered');
        });
        $('.inside-right').mouseout(function () {
            $(this).removeClass('hovered');
        });
    </script>
    }