﻿
@{
    ViewBag.Title = "Year Page";
}
<div class="navbar-collapse collapse" style="width:100%;">
    <ul class="nav navbar-nav" style="display:block;margin:0 auto; margin-top:20px;">
        <li><a href="/Builder/Year7Cover">Cover</a></li>
        <li><a href="/Builder/Year7Intro" class="selected">Intro</a></li>
        <li><a href="/Builder/Year7Assessment">Assessment</a></li>
    </ul>
</div>
    <div class="row" style="margin-top:50px;">
        <div class="col-md-3">
            <div class="row">
                <div class="inside-left-float">
                    <a class="year-intro-left inside-left-1"></a><br />
                    <a class="year-intro-left inside-left-2"></a><br />
                    <a class="year-intro-left inside-left-3"></a><br />
                </div>
            </div>
            <div class="row">

                <div class="col-md-6" style="float:right;"><a href="/Builder/Year7Cover" class="btn-editor" style="display:block;margin:0 auto;text-align:center;margin-top:50px;"><i class="glyphicon-arrow-left glyphicon"></i> Previous</a></div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-6" style="border-right:1px solid #333;padding:0;">
                    <img src="~/Images/year-intro-left.jpg" style="width:100%;" />
                </div>
                <div class="col-md-6" style="border-left:1px solid #333;padding:0;">
                    <img src="~/Images/year-intro-right.jpg" style="width:100%;" />
                </div>
            </div>

            <div class="col-md-6 edit-button-container">
                <a href="#">Edit</a>

            </div>
            <div class="col-md-6 edit-button-container">
                <a href="#">Edit</a>
            </div>

        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="inside-right-float">
                    <a class="year-intro-right inside-right-1"></a><br />
                    <a class="year-intro-right inside-right-2"></a><br />
                    <a class="year-intro-right inside-right-3"></a><br />
                </div>
            </div>
            <div class="row">

                <div class="col-md-6"><a href="/Builder/Year7Assessment" class="btn-editor" style="display:block;margin:0 auto;text-align:center;margin-top:50px;">Next <i class="glyphicon-arrow-right glyphicon"></i></a></div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script>
            $(document).ready(function () {
                addNavSelect('year7');
            });
        </script>
    }
