﻿
@{
    ViewBag.Title = "Year Page";
}
<div class="navbar-collapse collapse" style="width:100%;">
    <ul class="nav navbar-nav" style="display:block;margin:0 auto; margin-top:20px;">
        <li><a href="/Builder/Year9Cover" class="selected">Cover</a></li>
        <li><a href="/Builder/Year9Intro">Intro</a></li>
        <li><a href="/Builder/Year9Assessment">Assessment</a></li>
    </ul>
</div>
   <div class="container body-content" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-6 cover-image" style="padding:0px;">
            <img src="~/Images/year9-cover-orange.jpg" class="img-responsive main-image" />
        </div>
        <div class="col-md-6" style="height:811px;">
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-md-12">
                    <h2>Year Cover</h2>
                    <h3>Colour</h3>
                    <div class="selection-color">
                        <div data-color="orange" class="color color-orange color-selected"></div>
                        <div data-color="red" class="color color-red"></div>
                        <div data-color="blue" class="color color-blue"></div>
                    </div>
                    <h3>Image</h3>
                    <div class="selection-color">
                        <div onclick="selectImage('football');" data-image="football" class="image-4 image-selected"></div>
                        <div onclick="selectImage('runner');" data-image="runner" class="image-runner"></div>
                        <div onclick="selectImage('tennis');" data-image="tennis" class="image-tennis"></div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="row">

                <div class="col-md-6"><a href="#" class="btn-editor" style="display:block;margin:0 auto;text-align:center;margin-bottom:50px;background-color:#ddd;">Open Editor</a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="/Builder/Year8Assessment" class="btn-editor"><i class="glyphicon-arrow-left glyphicon"></i> Previous</a></div>
                <div class="col-md-6"><a href="/Builder/Year9Intro" class="btn-editor">Next <i class="glyphicon-arrow-right glyphicon"></i></a></div>
            </div>
        </div>
    </div>
</div>
    @section Scripts{
        <script>
            $(document).ready(function () {
                addNavSelect('year9');
            });

            $('.color').hover(function () {

                var data = $(this).data("color");
                var current = $('.color-selected').data('color');
                var image = $('.image-selected').data('image');

                $('.main-image').attr('src', ('/Images/year9-cover-' + data + '.jpg'));

                $(this).click(function () {
                    $('.color-selected').removeClass('color-selected');
                    $(this).addClass('color-selected');
                    current = data;
                });



                $('.color').mouseout(function () {
                    $('.main-image').attr('src', ('/Images/year9-cover-' + current + '.jpg'));
                });

            });

        </script>
    }
