﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-nav {
width:100%;
text-align:center;
}

.navbar-nav li {
    float:none !important;
    display:inline-block !important;
    
}

.navbar-nav li a{
    border-radius: 100px;
    }

.navbar-nav li a:hover {
    color:#fff !important;
    background-color:#51bc93 !important;
    }

.selected{
        color:#fff !important;
    background-color:#51bc93 !important;
}

.main-navbar {
    padding-top:5px;padding-bottom:5px;
    background-color:#fff;
}

.color-orange {
    background-color:#ef7d00;
    width:50px;
    height:50px;
    border:10px solid #ef7d00;
    display:inline-block;
}
.color-red {
    background-color:#932c2c;
    width:50px;
    height:50px;
    border:10px solid #932c2c;
    display:inline-block;
}
.color-blue {
    background-color:#009fe3;
    width:50px;
    height:50px;
    border:10px solid #009fe3;
    display:inline-block;
}
.color-pink {
    background-color:#b80e80;
    width:50px;
    height:50px;
    border:10px solid #b80e80;
    display:inline-block;
}
.color-green {
    background-color:#76b82a;
    width:50px;
    height:50px;
    border:10px solid #76b82a;
    display:inline-block;
}
.color-selected {
    border-color:#ccc;
}
.cover-image {
    height:811px;
    width:575px !important;
    background-repeat:no-repeat;
}
.cover-image-orange-basketball {
background:url('../../Images/cover-orange-2.jpg');
}
.cover-image-red-basketball {
background:url('../../Images/cover-red-2.jpg');
}
.cover-image-blue-basketball {
background:url('../../Images/cover-blue-2.jpg');
}
.cover-image-orange-runner {
background:url('../../Images/cover-orange.jpg');
}
.cover-image-red-runner {
background:url('../../Images/cover-red.jpg');
}
.cover-image-blue-runner {
background:url('../../Images/cover-blue.jpg');
}
.cover-image-orange-tennis {
background:url('../../Images/cover-orange-3.jpg');
}
.cover-image-red-tennis {
background:url('../../Images/cover-red-3.jpg');
}
.cover-image-blue-tennis {
background:url('../../Images/cover-blue-3.jpg');
}
.btn-editor {
    padding:10px;
    background-color:#51bc93;
    color:#fff !important;
    text-decoration:none !important;
    
}
    .btn-editor:hover {
    color:#fff;
    text-decoration:none;
    }
    .btn-editor::after{
         color:#fff;
    text-decoration:none;
    }
.image-2 {
    background-image:url('../Images/basketball-thumb.jpg');
    width:50px;
    height:50px;
    border:1px solid #ddd;
    display:inline-block;
}
.image-1 {
     background-image:url('../Images/runner-thumb.jpg');
    width:50px;
    height:50px;
    border:1px solid #ddd;
    display:inline-block;
}
.image-3 {
     background-image:url('../Images/tennis-thumb.jpg');
    width:50px;
    height:50px;
    border:1px solid #ddd;
    display:inline-block;
}
.image-4 {
     background-image:url('../Images/football-thumb.jpg');
    width:50px;
    height:50px;
    border:1px solid #ddd;
    display:inline-block;
}
.image-rythmic {
     background-image:url('../Images/rythmic-thumb.jpg');
    width:50px;
    height:50px;
    border:1px solid #ddd;
    display:inline-block;
}
.image-selected {
    border-color:#000;
}
.yearsInput input {
    display:block;
    margin-top:5px;
}
.SportsInput input {
    display:block;
    margin-top:5px;
}
.inside-left {
    height:50px;
    width:50px;
    display:block;
    margin-top:50px;
}
.inside-left-1 {
    background-image:url("../Images/inside-left-thumb.jpg");
}
.inside-left-2 {
    background-image:url("../Images/year-intro-left-thumb.jpg");
}
.inside-left-3 {
    background-image:url("../Images/inside-left-thumb.jpg");
}
.inside-right {
    height:50px;
    width:50px;
    background-image:url("../Images/inside-right-thumb.jpg");
    display:block;
    margin-top:50px;

}
.year-intro-right {
    height:50px;
    width:50px;
    background-image:url("../Images/year-intro-right-thumb.jpg");
    display:block;
    margin-top:50px;

}
.year-intro-left {
     height:50px;
    width:50px;
    background-image:url("../Images/year-intro-left-thumb.jpg");
    display:block;
    margin-top:50px;
}
.year8-intro-right {
    height:50px;
    width:50px;
    background-image:url("../Images/year8-intro-right-thumb.jpg");
    display:block;
    margin-top:50px;

}
.year8-intro-left {
     height:50px;
    width:50px;
    background-image:url("../Images/year8-intro-left-thumb.jpg");
    display:block;
    margin-top:50px;
}
.year9-intro-right {
    height:50px;
    width:50px;
    background-image:url("../Images/year9-intro-right-thumb.jpg");
    display:block;
    margin-top:50px;

}
.year9-intro-left {
     height:50px;
    width:50px;
    background-image:url("../Images/year9-intro-left-thumb.jpg");
    display:block;
    margin-top:50px;
}
.year-assessment-right {
    height:50px;
    width:50px;
    background-image:url("../Images/year-assessment-right-thumb.jpg");
    display:block;
    margin-top:50px;

}
.year-assessment-left {
     height:50px;
    width:50px;
    background-image:url("../Images/year-assessment-left-thumb.jpg");
    display:block;
    margin-top:50px;
}
.year8-assessment-right {
    height:50px;
    width:50px;
    background-image:url("../Images/year8-assessment-right-thumb.jpg");
    display:block;
    margin-top:50px;

}
.year8-assessment-left {
     height:50px;
    width:50px;
    background-image:url("../Images/year8-assessment-left-thumb.jpg");
    display:block;
    margin-top:50px;
}
.year9-assessment-right {
    height:50px;
    width:50px;
    background-image:url("../Images/year9-assessment-right-thumb.jpg");
    display:block;
    margin-top:50px;

}
.year9-assessment-left {
     height:50px;
    width:50px;
    background-image:url("../Images/year9-assessment-left-thumb.jpg");
    display:block;
    margin-top:50px;
}
.first-left {
    height:50px;
    width:50px;
    background-image:url("../Images/first-left-thumb.jpg");
    display:block;
    margin-top:50px;
}
.first-right {
    height:50px;
    width:50px;
    background-image:url("../Images/first-right-thumb.jpg");
    display:block;
    margin-top:50px;

}
.football-left {
    height:50px;
    width:50px;
    background-image:url("../Images/football-left-thumb.jpg");
    display:block;
    margin-top:50px;
}
.football-right {
    height:50px;
    width:50px;
    background-image:url("../Images/football-right-thumb.jpg");
    display:block;
    margin-top:50px;

}
.inside-right-float {
    float:left;
    margin-left:75px;
}
.inside-left-float {
    float:right;
    margin-right:75px;
}
.edit-button-container {
    text-align:center;
    margin-top:10px;
    
}
.edit-button-container a{
    background-color:#ddd;
    padding:10px 15px;
    color:#fff !important;
    text-decoration:none !important;
    cursor:default;
}
.edit-button-container-active {
    text-align:center;
    margin-top:10px;
}
.edit-button-container-active a{
    background-color:#51bc93;
    padding:10px 15px;
    color:#fff !important;
    text-decoration:none !important;
}

.year-cover-image {
    background-image:url("/Images/year-cover.jpg");
}
.cover-criteria {
    background-image:url("/Images/criteria-cover-pink.jpg");
}
.template-select {
    border:1px solid #000;
}
.template-item {
    border:2px solid #bbb;
    text-align:center;
    margin:20px;
    padding-bottom:10px;
}
.selected-item {
    border-color:#51bc93 !important; 
}
