﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book Builder</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top main-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            
            </div>
            <div class="navbar-collapse collapse" style="width:100%;">
                <ul class="nav navbar-nav" style="display:block;margin:0 auto;">
                    <li><a href="/Builder/Index" class="nav-index">Start</a></li>
                    <li><a href="/Builder/FrontCover" class="nav-front">Cover</a></li>
                    <li><a href="/Builder/Inside" class="nav-inside">Inside Cover</a></li>
                    <li><a href="/Builder/First" class="nav-first">First Page</a></li>
                    <li><a href="/Builder/Year7Cover" class="nav-year7">Year 7</a></li>
                    <li><a href="/Builder/Year8Cover" class="nav-year8">Year 8</a></li>
                    <li><a href="/Builder/Year9Cover" class="nav-year9">Year 9</a></li>
                    <li><a href="/Builder/CriteriaCover" class="nav-criteria">Criteria Page</a></li>
                    @*<li><a href="/Builder/Back" class="nav-back">Back Cover</a></li>
                    <li><a href="/Builder/Preview" class="nav-preview">Preview</a></li>*@
                    <li><a href="/Builder/Finish" class="nav-finish">Finish</a></li>
                </ul>
            </div>
        </div>
    </div>

    
        @RenderBody()



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
    <script>
        function addNavSelect(pageName) {
            $('.nav-' + pageName).addClass('selected');
        }
    </script>
</body>
</html>